.FormField {
  width: 100vw;
  height: 100vh;
  /* border: 2px solid fuchsia; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.FormField__contentContainer {
  /* border: 2px solid orangered; */
  width: 100%;
  max-width: 80rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FormField__inputContainer {
  display: flex;
}
