:root {
  --color-font-primary: #0b2a29;
  --color-bg-primary: #fffcec;
  --color-bg-button: #56d1c2;
}
::-webkit-scrollbar {
  display: none;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  color: var(--color-font-primary);
  background-color: var(--color-bg-primary);
}
