:root {
  --color-black: #0b2a29;
  --color-primary: #fffcec;
  --color-teal-light: #56d1c2;
  --color-teal-dark: #37b8aa;
  --color-secondary-light: #ffb569;
  --color-secondary: #ff7d00;
  --color-tertiary: #913212;
  --color-disabled: #ffe9d2;
}
::-webkit-scrollbar {
  display: none;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
  line-height: 2;
  color: var(--color-black);
  background-color: var(--color-primary);
}
h1,
h2,
h3 {
  font-weight: 400;
}
p {
  margin-top: 0;
  max-width: 80rem;
  text-align: center;
}
.errorMessage {
  min-height: 2rem;
  line-height: 1.6rem;
  color: var(--color-secondary);
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: start;
  margin-left: 1rem;
  margin-top: 4px;
  max-width: 24rem;
}
