.Radio {
  /* TODO */
}
input[type='radio'] {
  display: none;
}
input[type='radio']:checked + .Radio__card {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}
.Radio__card {
  width: 24rem;
  height: auto;
  background-color: var(--color-secondary);
  text-align: center;
  text-transform: capitalize;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.Radio__card:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}
.Radio__card:active {
  transform: translateY(1rem);
}
