.RadioGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.RadioGroup__optionsContainer {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .RadioGroup__optionsContainer {
    flex-direction: column;
  }
}
